 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Press+Start+2P&display=swap');


;:root { 
    --bg-color: #171923;
    --bg-color: #232535;
    --font-color: #2d6ee0;
    --font-light: #6e0f0f;
}
.lightMode { 
    --bg-color: rgb(111, 68, 7);
    --bg-light: #6a5cda;
    --font-color: #3D3D3D;
}
.nav-links #toggle {
    pointer: cursor !important;
 }
 * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body { 
    color: var(--font-light);
    font-family: 'montserrat',sans-serif;
    background: var(--bg-color);
    transition: all 500ms;
 }
 p { 
    color: var(--font-color);
 }
 .container { 
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 0 1rem;
 }
 .highlight {
    color: var(--font-light);
  }
  .btn {
    padding: 10px 30px;
    border: 3px solid var(--font-light);
    transition: all 250ms;
   }
   .btn:hover {
    color: var(--bg-color);
    background-color: var(--font-light);
    }


    nav { 
        background-color: var(--primary);
    }
    nav.container { 
        display: block;
        padding: 2rem 1.5rem;
        margin: 2rem auto;
        text-align: center;
    }
nav .nav-links .nav-item { 
    list-style: none;
    display: inline;
    border-radius: 0.25rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    margin: 1rem;
    transition: all 250ms;
    cursor: pointer;
}

nav .nav-links .active {
    font-weight: 700;
    color: var(--link-btn);
 }

 nav .nav-links .nav-item:hover {
    background-color: var(--bg-light);
  }

  a {
    color: var(--link-btn);
    text-decoration: none;
   }
.hero { 
    max-width: 650px;
    margin: 3rem auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
}
.hero-info h2{ 
    font-weight: 400;
    margin: 1rem 0;
}
.hero-tag { 
    font-size: 5rem;
    font-weight: 600;
    margin: 1rem 0;
}
.hero-abt { 
    line-height: 1.5rem;
    margin: 3rem auto;
    max-width: 500px;
}
